:root {
	// base font family
	--bs-font-family: "Inter", sans-serif;

	// base font size
	--bs-font-size: 16px;

	// base font weight
	--bs-font-weight: 400;

	// base line height
	--bs-line-height: 1;

	// palette
	--purple: #ecedff;
	--black: #222531;
	--steel-blue: #616e85;
	--white: #fff;
	--blue: #4c57fb;
	--light-gray: #eff2f5;
	--geyser: #d0d6e4;
	--orange: #f18c5c;
}
