@use "../config/mixins" as *;
@use "../config/functions" as *;

.dashboard {
	&__header {
		display: flex;
		justify-content: space-between;
		gap: rem(30);
		align-items: center;

		@include media-mx(768) {
			flex-direction: column;
		}

		&-title {
			h1 {
				font-weight: 700;
				font-size: rem(32);
				letter-spacing: rem(1);
			}

			p {
				color: var(--steel-blue);
				margin-top: rem(12);
			}
		}

		&-navigation {
			background: var(--white);
			padding: rem(8);
			border-radius: rem(72);
			display: flex;
			top: rem(7);
			position: relative;

			@include media-mx(768) {
				border-radius: rem(16);
				gap: rem(10);
				flex-wrap: wrap;
				justify-content: center;
			}

			button {
				font-size: rem(14);
				font-weight: 500;
				display: flex;
				align-items: center;
				gap: rem(8);
				line-height: rem(16);
				border-radius: rem(40);
				padding: rem(12) rem(24);
				transition: 0.3s ease-in-out;

				@include media-mx(768) {
					border-radius: rem(10);
				}

				&.is-active,
				&:hover {
					background: var(--blue);
					color: var(--white);

					&:before {
						background: var(--white);
					}
				}

				&::before {
					content: "";
					transition: background 0.3s ease-in-out;
					width: rem(16);
					height: rem(16);
					display: block;
					mask: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 13.3334V6.66669" stroke="%234C57FB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 13.3334V2.66669" stroke="%234C57FB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 13.3333V9.33331" stroke="%234C57FB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					mask-repeat: no-repeat;
					mask-size: contain;
					background: var(--blue);
				}

				&.managers {
					&::before {
						mask: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3333 4.66669H2.66659C1.93021 4.66669 1.33325 5.26364 1.33325 6.00002V12.6667C1.33325 13.4031 1.93021 14 2.66659 14H13.3333C14.0696 14 14.6666 13.4031 14.6666 12.6667V6.00002C14.6666 5.26364 14.0696 4.66669 13.3333 4.66669Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6666 14V3.33333C10.6666 2.97971 10.5261 2.64057 10.2761 2.39052C10.026 2.14048 9.68687 2 9.33325 2H6.66659C6.31296 2 5.97383 2.14048 5.72378 2.39052C5.47373 2.64057 5.33325 2.97971 5.33325 3.33333V14" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
					}
				}

				&.employees {
					&::before {
						mask: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1066_122)"><path d="M11.3334 14V12.6667C11.3334 11.9594 11.0525 11.2811 10.5524 10.781C10.0523 10.281 9.37399 10 8.66675 10H3.33341C2.62617 10 1.94789 10.281 1.4478 10.781C0.9477 11.2811 0.666748 11.9594 0.666748 12.6667V14" stroke="%234C57FB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.99992 7.33333C7.47268 7.33333 8.66659 6.13943 8.66659 4.66667C8.66659 3.19391 7.47268 2 5.99992 2C4.52716 2 3.33325 3.19391 3.33325 4.66667C3.33325 6.13943 4.52716 7.33333 5.99992 7.33333Z" stroke="%234C57FB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.3333 14V12.6667C15.3328 12.0758 15.1362 11.5019 14.7742 11.0349C14.4122 10.5679 13.9053 10.2344 13.3333 10.0867" stroke="%234C57FB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6667 2.08667C11.2404 2.23354 11.7488 2.56714 12.1118 3.03488C12.4749 3.50262 12.672 4.07789 12.672 4.67C12.672 5.26212 12.4749 5.83739 12.1118 6.30513C11.7488 6.77287 11.2404 7.10647 10.6667 7.25334" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1066_122"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
					}
				}
			}
		}
	}

	&__content {
		display: flex;
		margin-top: rem(35);
		gap: rem(32);
		flex-wrap: wrap;
	}

	&__item {
		max-height: rem(208);
		padding: rem(24);
		aspect-ratio: 304 / 208;
		box-shadow: rem(0) rem(8) rem(24) rem(0) #5155c314;
		border-radius: rem(16);
		background: var(--white);
		overflow: hidden;
		width: 100%;
		position: relative;

		&.item--manager {
			.dashboard__item-content {
				height: calc(100% - #{rem(16)});
				width: calc(100% + #{rem(48)});
				margin-left: rem(-24);
				position: relative;
				background-color: rgba(241 140 92 / 8%);

				&::after {
					content: "";
					position: absolute;
					width: 90%;
					left: 50%;
					transform: translateX(-50%);
					height: 100%;
					display: block;
					bottom: 0;
					background-image: linear-gradient(to top, rgba(0 0 0 / 10%) 5%, rgba(0 0 0 / 0) 2%);
					background-size: 100% rem(16);
					background-position: left top;
				}
			}
		}

		&.item--speedometr,
		&.item--emoji {
			@media only screen and (min-width: 576px) and (max-width: 768px) {
				width: calc(50% - #{rem(16)});
				min-height: rem(208);
			}
		}

		&.item--chart {
			aspect-ratio: 640 / 292;
			min-height: rem(292);

			@include media-mn(1024) {
				width: calc(50% - #{rem(16)});
			}
		}

		&:has(canvas) {
			padding-bottom: rem(56);

			.dashboard__item-header {
				margin-bottom: rem(25);
			}
		}

		@include media-mn(768) {
			width: calc(100% / 2 - #{rem(32)} / 2);
		}

		@include media-mn(1280) {
			width: calc(100% / 4 - #{rem(96)} / 4);
		}

		&-header {
			display: flex;
			justify-content: space-between;
			gap: rem(24);
			margin-bottom: rem(16);
		}

		&-title {
			font-weight: 700;
			font-size: rem(20);
			line-height: rem(24);
		}

		&-info {
			cursor: pointer;
			background: url('data:image/svg+xml, <svg class="dashboard__item-info" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.64" clip-path="url(%23clip0_22_496)"><path d="M8.00004 14.6666C11.6819 14.6666 14.6667 11.6819 14.6667 7.99998C14.6667 4.31808 11.6819 1.33331 8.00004 1.33331C4.31814 1.33331 1.33337 4.31808 1.33337 7.99998C1.33337 11.6819 4.31814 14.6666 8.00004 14.6666Z" stroke="%23616E85" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 10.6667V8" stroke="%23616E85" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8 5.33331H8.00667" stroke="%23616E85" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_22_496"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>')
				no-repeat;
			width: rem(16);
			height: rem(16);
			background-size: contain;
			display: block;
		}

		&-indications {
			z-index: 1;
			min-height: rem(51);
			background: var(--orange);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			color: var(--white);
			height: 36%;
			padding: rem(15) rem(24) rem(15) rem(24);
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: flex-end;
			gap: rem(25);

			@include media-mx(1280) {
				&::after {
					position: absolute;
					width: 100%;
					height: 100%;
					background: url('data:image/svg+xml,<svg width="304" height="24" viewBox="0 0 304 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_22_479)"><path fill-rule="evenodd" clip-rule="evenodd" d="M406.308 9.39522L388.727 10.6171C373.1 11.839 337.939 14.2827 304.731 13.0609C271.523 11.839 236.362 6.95146 203.154 3.89676C169.946 0.231115 134.785 -0.990766 101.577 0.842055C68.3691 2.67488 33.2079 8.17334 17.5807 10.6171L6.10352e-05 13.0609V32H17.5807C33.2079 32 68.3691 32 101.577 32C134.785 32 169.946 32 203.154 32C236.362 32 271.523 32 304.731 32C337.939 32 373.1 32 388.727 32H406.308V9.39522Z" fill="%23F18C5C"/><path fill-rule="evenodd" clip-rule="evenodd" d="M406.308 9.39522L388.727 10.6171C373.1 11.839 337.939 14.2827 304.731 13.0609C271.523 11.839 236.362 6.95146 203.154 3.89676C169.946 0.231115 134.785 -0.990766 101.577 0.842055C68.3691 2.67488 33.2079 8.17334 17.5807 10.6171L6.10352e-05 13.0609V32H17.5807C33.2079 32 68.3691 32 101.577 32C134.785 32 169.946 32 203.154 32C236.362 32 271.523 32 304.731 32C337.939 32 373.1 32 388.727 32H406.308V9.39522Z" fill="white" fill-opacity="0.32"/><path fill-rule="evenodd" clip-rule="evenodd" d="M304 12.6763L290.326 14.2222C276.652 15.7681 249.305 18.8599 221.957 16.541C196.563 14.2222 169.215 6.49266 141.868 5.71971C114.52 4.94676 87.1723 11.1304 59.8247 10.3574C32.4771 9.58446 5.12946 1.85497 -20.2648 0.309066C-47.6124 -1.23683 -74.9601 3.40086 -88.6339 5.71971L-102.308 8.03856V32H-88.6339C-74.9601 32 -47.6124 32 -20.2648 32C5.12946 32 32.4771 32 59.8247 32C87.1723 32 114.52 32 141.868 32C169.215 32 196.563 32 221.957 32C249.305 32 276.652 32 290.326 32H304V12.6763Z" fill="%23F18C5C"/></g><defs><clipPath id="clip0_22_479"><rect width="304" height="24" fill="white" transform="matrix(-1 0 0 1 304 0)"/></clipPath></defs></svg>')
						no-repeat;
					background-size: cover;
					display: block;
					content: "";
					top: -100%;
					left: 0;
				}
			}

			.wave {
				position: absolute;
				top: rem(-24);
				left: 0;
				width: 100%;

				@include media-mx(1280) {
					display: none;
				}

				&--bottom {
					path {
						@include media-mn(1280) {
							animation: bottom-wave 5s infinite;
						}
					}
				}

				&--top path {
					@include media-mn(1280) {
						animation: top-wave 5s infinite;
					}
				}
			}

			.percentage {
				font-size: rem(24);
				font-weight: 700;
				letter-spacing: rem(1);

				sub {
					font-size: rem(14);
					line-height: rem(24);
					font-weight: 700;
					vertical-align: baseline;
				}
			}

			.people {
				letter-spacing: rem(-1);
				position: relative;
				top: rem(-3);
				display: flex;
				align-items: center;
				gap: rem(4);

				&::before {
					content: "";
					width: rem(16);
					height: rem(16);
					background: url('data:image/svg+xml, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3333 14V12.6667C11.3333 11.9594 11.0523 11.2811 10.5522 10.781C10.0521 10.281 9.37387 10 8.66663 10H3.33329C2.62605 10 1.94777 10.281 1.44767 10.781C0.947578 11.2811 0.666626 11.9594 0.666626 12.6667V14" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.00004 7.33333C7.4728 7.33333 8.66671 6.13943 8.66671 4.66667C8.66671 3.19391 7.4728 2 6.00004 2C4.52728 2 3.33337 3.19391 3.33337 4.66667C3.33337 6.13943 4.52728 7.33333 6.00004 7.33333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.3334 14V12.6667C15.3329 12.0758 15.1363 11.5019 14.7743 11.0349C14.4123 10.5679 13.9055 10.2344 13.3334 10.0867" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6666 2.08667C11.2402 2.23354 11.7487 2.56714 12.1117 3.03488C12.4748 3.50262 12.6719 4.07789 12.6719 4.67C12.6719 5.26212 12.4748 5.83739 12.1117 6.30513C11.7487 6.77287 11.2402 7.10647 10.6666 7.25334" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>')
						no-repeat;
					background-size: contain;
					display: block;
				}
			}
		}

		&-content {
			canvas {
				height: rem(168) !important;
			}
		}

		&-chart {
			position: relative;
			display: flex;
			justify-content: center;
			width: fit-content;
			margin: 0 auto;

			svg {
				path {
					&.neutral {
						animation: fade-in 0.3s forwards;
						animation-delay: 1.5s;
						transition: opacity 0.3s ease;
					}
				}
			}

			&.speedometr-chart {
				svg path.is-animate {
					animation: fill 0.3s forwards;
					opacity: 1 !important;
					animation-delay: 1.5s;
				}

				.value {
					position: absolute;
					bottom: rem(-10);
					font-size: rem(10);
					color: var(--steel-blue);
					left: rem(10);

					&--max {
						left: unset;
						right: rem(5);
					}
				}

				.dashboard__item-chart-counter {
					margin-top: rem(25);

					span {
						&:first-child {
							animation: translate-in 0.6s forwards;
							transform: translateY(50%);
							margin-left: unset;
						}

						&:last-child {
							font-size: rem(14);
							line-height: rem(30);
							animation: fade-in 0.3s forwards;
							opacity: 0;
							animation-delay: 1.5s;
						}
					}
				}
			}

			&.emoji-chart {
				svg path.is-animate {
					animation: fill 1s forwards;
					animation-delay: 1.5s;
				}
			}
		}

		&-chart-counter {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			span {
				display: flex;
				align-items: flex-end;
				animation-delay: 1.5s !important;

				sub {
					font-size: rem(14);
					line-height: rem(24);
					font-weight: 700;
					vertical-align: baseline;
				}

				&:first-child {
					margin-left: rem(5);
					font-weight: 700;
					font-size: rem(32);
					opacity: 0;
					animation: fade-in 0.6s forwards;
				}
			}
		}

		&-scrollable-content {
			margin-top: rem(27);
			height: calc(100% - #{rem(27)});
			width: calc(100% + #{rem(16)});

			ul {
				height: 110%;
				overflow-y: scroll;
				padding-right: rem(12);

				&::-webkit-scrollbar {
					inline-size: rem(4);
				}

				&::-webkit-scrollbar-track {
					border-radius: rem(8);
					background: var(--white);
				}

				&::-webkit-scrollbar-thumb {
					border-radius: rem(8);
					background: var(--geyser);
				}

				li {
					padding: rem(16) 0;
					border-top: rem(1) solid var(--light-gray);
					font-size: rem(14);
					line-height: rem(16);
					color: var(--steel-blue);
					display: flex;
					align-items: center;
					gap: rem(8);
				}
			}
		}

		&-chart-legend {
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: rem(16);
				margin-top: rem(12);
				justify-content: center;

				li {
					display: flex;
					align-items: center;
					gap: rem(4);
					cursor: pointer;

					&:first-child > span {
						background: #5155c3;
					}

					&:nth-child(2) > span {
						background: #597dbe;
					}

					&:nth-child(3) > span {
						background: #5f99bb;
					}

					&:nth-child(4) > span {
						background: #65b8b7;
					}

					&:nth-child(5) > span {
						background: #6cddb1;
					}

					&:nth-child(6) > span {
						background: #a7a8ad;
					}

					span {
						width: rem(12);
						height: rem(12);
						flex-shrink: 0;
						border-radius: rem(4);
					}

					p {
						font-size: rem(12);
						line-height: rem(16);
					}
				}
			}
		}
	}
}

@keyframes bottom-wave {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(33%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes top-wave {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-33%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

@keyframes fill {
	to {
		fill: var(--orange);
	}
}

@keyframes translate-in {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
